.ui-button {
  font-size: 18px;
  font-weight: 800;
  height: 55px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.blue {
  color: #1021ff;
  background: #fff;
  border: 3px solid;
  border-color: #1021ff;
  outline: none;
}

.blue:hover {
  color: #fff;
  background: #1021ff;
}

.mint {
  background: #10f9c0;
  border: none;
  color: #ecf0f1;
  outline: none;
}

.mint:hover {
  background: #fff;
  color: #10f9c0;
  border: 3px solid;
  border-color: #10f9c0;
}
