.ui-button {
  font-size: 1.8rem;
  font-weight: 700;
  height: 55px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.blue {
  color: var(--blue);
  background: #fff;
  border: 3px solid;
  border-color: var(--blue);
  outline: none;
}

.blue:hover {
  color: #fff;
  background: var(--blue);
}

.mint {
  background: var(--mint);
  border: none;
  color: #ecf0f1;
  outline: none;
}

.mint:hover {
  background: #fff;
  color: var(--mint);
  border: 3px solid;
  border-color: var(--mint);
}

.delete {
  background: var(--red);
  border: none;
  color: #ecf0f1;
  outline: none;
  margin: 0;
  padding: 0;
}

.delete:hover {
  background: #fff;
  color: var(--red);
  border: 3px solid;
  border-color: var(--red);
}